<div class="banner" style="text-align:center">
  <div class="inline">
    <h1>
      Welcome {{user.firstName}}!
    </h1>
  </div>
  <div class="inline">
    <button type="button" class="btn-red pull-right" (click)="logout()">Logout</button>
  </div>
</div>

<div class="box">
  <h2>You're logged in as</h2>
  <div class="box-content" style="margin-top: -20px">
    <label>Username : </label>
    <span>{{user.username}}</span>
    <br/>
    <label>Email : </label>
    <span>{{user.email}}</span>
    <br/>
    <label>Full Name : </label>
    <span>{{user.firstName}} {{user.lastName}}</span>
  </div>
</div>
<div class="row">
  <div class="box">
    <h2>Admin Request To Staff</h2>
    <div class="box-content" style="margin-top: -20px">
      <button type="button" class="btn-blue" (click)="getAllStaffs()">Get All Staff</button>
      <div *ngIf="staffs">
        <ul>
          <li *ngFor="let staff of staffs">
            {{staff}}
          </li>
        </ul>
      </div>
    </div>


    <div class="box-content" style="margin-top: -20px">
      <input type="number" [(ngModel)]= "staffId">
      <button [disabled]="!staffId" type="button" class="btn-blue" (click)="getStaffById()">Get Staff By ID</button>
      <div *ngIf="singleStaff">
        <ul>
          <li>
            {{singleStaff}}
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="box col-md-6">
    <h2>User and Admin Request To Student</h2>
    <div class="box-content" style="margin-top: -20px">
      <button type="button" class="btn-blue" (click)="getAllStuds()">Get All Students</button>
      <div *ngIf="studs">
        <ul>
          <li *ngFor="let stud of studs">
            {{stud}}
          </li>
        </ul>
      </div>
    </div>


    <div class="box-content" style="margin-top: -20px">
      <input type="number" [(ngModel)]= "studId">
      <button [disabled]="!studId" type="button" class="btn-blue" (click)="getStudById()">Get Student By ID</button>
      <div *ngIf="singleStud">
        <ul>
          <li>
            {{singleStud}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>